html, body {
    height: 100%;
    user-select: none;
    background-color: #c3adbf;
    transition: background-color 0.4s;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

.container {
    height: 100%;
}

#logo {
    max-width: 70%;
    max-height: 64px;
}

.navbar {
    background-color: #9e7f97;
}

.title {
    margin-top: 64px
}

h5 {
    margin-top: 20px;
    vertical-align: middle;
    font-weight: bold;
    font-size: 24px;
    height: 40px;
}

h6 {
    margin-top: 40px;
    font-size: 20px;
    height: 40px;
}

h2 {
    display: none;
    padding-top: 20px;
    font-size: 160px;
    height: 228px;
    font-family: 'Noto Emoji'
}

a {
    color: white;
    opacity: 0.4;
}

a:hover, a:active {
    text-decoration: none;
    color: white;
    opacity: 1;
}

.top-tool {
    display: none;
    cursor: pointer;
    font-size: 24px;
    font-family: 'Noto Emoji';
    color: white;
}

.top-tool span {
    opacity: 0.4;
}

.top-tool span:hover, .top-tool span:active {
    opacity: 1;
}

#user-page {display: none}

button {
    border: none;
    color: white;
    background-color: #c3adbf;
    text-decoration: none;
    border-radius: 6px;
    padding: 12px;
    width: 200px;
}

button:disabled{
  pointer-events: none;
  opacity: 0.6;
}

#qrcode {
    width: 300px;
    height: 300px;
    margin-top: 140px;
    margin-left: auto;
    margin-right: auto;
}

.tool {
    margin: 18px;
    background-color: #9e7f97;
}

.main-button {
    padding: 32px;
    font-size: 24px;
    font-weight: bold;
    margin: 64px;
    height: 100px;
}

button:active {
    color: #dddddd;
    box-shadow: 0 0 5px 0 inset #000000aa;
}

button:focus {
    outline: none;
}


.status-empty-background {
    background-color: #c3adbf;
}

.status-empty-control {
    background-color: #9e7f97;
}

.status-empty-text {
    color: #9e7f97;
}

button.status-confirmable-control:active {
    background-color: #5fa49c;
}

.status-confirmable-control:disabled {
    background-color: #5fa49c;
}

button.status-placeable-control:active {
    background-color: #e49528;
}

.status-placeable-control:disabled {
    background-color: #e49528;
}


.status-confirmed-background {
    background-color: #8dc6bf;
}

.status-confirmed-control {
    background-color: #5fa49c;
}

.status-confirmed-text {
    color: #5fa49c;
}

button.status-confirmed-control:active {
    background-color: #e65526;
}

.status-confirmed-control:disabled {
    background-color: #e65526;
}


.status-placed-background {
    background-color: #fcbc66ff;
}

.status-placed-control {
    background-color: #e49528;
}

.status-placed-control:active {
    background-color: #e65526;
}

.status-placed-control:disabled {
    background-color: #e65526;
}


.status-refused-background {
    background-color: #f97b4fff;
}

.status-refused-control {
    background-color: #e65526;
}

.status-refused-text {
    color: #e65526;
}

button.status-refused-control {
    opacity: 0;
}
